<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <title>Page Ketiga</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            background-color:black;
        }
        .mid-element{
            text-align:center;
            width:650px;
        }
        .nav-edit{
            height:47px;
        }
        nav.nav-wrapper{
            line-height:45px;
        }
        ul.tabs{
            background-color:grey;
        }
        .tabs .tab a:focus, .tabs .tab a:focus.active{
            background-color:black;
        }
        .tabs .indicator{
            background-color:transparent;
        }
        .box{
            background-color:grey;
            height: 100%;
        }
        .btn{
            background-color:grey;
        }
        .lilspace{
            margin: 10px 0 10px 0;
        }
        .greydark{
            background-color: #333333;
        }
        .middle{
            text-align: center;
            padding: 6px;
        }

    </style>
    <script>
        var tmp = 1;
        function change_tmp(val) {
            tmp = val;
        }
    </script>
</head>
<body>
    <div class="row">
        <!-- Tabs -->
        <div class="col s2 greydark" >
            <div id="checkout" class="col s12">
                <p class="flow-text white-text middle">Checkout</p>
            </div>
            <div class="row">
                <div class="box col grey lighten-1 s12">
                    <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at lacus congue, suscipit elit nec, tincidunt orci.</p>
                    <p class="white-text">Mauris sdsdsdsd dolor augue, vulputate in pharetra ac, facilisis nec libero. Fusce condimentum gravida urna, vitae scelerisque erat ornare nec.</p>
                </div>
            </div>
        </div>
        <!-- navbar -->
        <div class="col s8">
            <nav class="nav-wrapper transparent nav-edit">
                <div>
                    <ul class="white-text">
                        <li class="left">Terjual :</li>
                        <li><a href="">42</a></li>
                        <li><a href="" class="mid-element hide-on-med-and-down">4 : 20</a> </li>
                    </ul>
                </div>
            </nav>
            <div class="box col s12">

                    <input class="white-text" type="text" id="myText" placeholder="Search..">
    
                    <button onclick="myFunction()">lala</button>
                    <div class="box col s12 midpart testss">
                <div class="row">
                    <% for (var i = 0; i < foods.length; i++) {%>
                    <div class="col s12 m5">
                        
                        <div class="card">
                            <div class="card-image">
                                <!-- <img src="images/download.jpeg"> -->
                            </div>
                            <div class="card-content">
                                <p><%= foods[i].name %></p>
                            </div>
                            <div class="card-action">
                                <p><%= foods[i].price[2] %></p>
                            </div>
                        </div>  
                    </div>
                    <% } %>
                </div>           
            </div>  

        </div>
        <div class="col s2">
            <nav class="nav-wrapper transparent nav-edit">
                <div>
                    <ul class="white-text">
                        <li class="right hide-on-med-and-down"><a href="">Kamis, 12 Juli 2019</a></li>
                    </ul>
                </div>
            </nav>
            <h3 class="white-text">Varian</h3>

            <button class="waves-effect waves-light btn col s12 lilspace" onclick=''>Tipis</button>
            <a class="waves-effect waves-light btn col s12 lilspace" onclick=''>Medium</a>
            <a class="waves-effect waves-light btn col s12 lilspace">Large</a>
            <a class="waves-effect waves-light btn col s12 lilspace">Spesial</a>
        </div>
    </div>
    
<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
    $(document).ready(function(){
        $('.tabs').tabs();
    })
    
function myFunction() {
  var x = document.getElementById("myText").value;
  console.log(window.location.href);
  var queries = "?name="+String(x);
  window.location.href = "pageketiga"+queries; 
}

</script>
</body>
</html>