<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/widget-style.css">
	<script src="script/widget.js"></script>
	<title>Page Kedua</title>
    <style>
        :root{
            font-size: 16px;
        }
        body{
            background-color:black;
        }
        .screenflex{
            display:flex;
            flex-direction:row;
        }
        .nav-edit{
            height:47px;
        }
        nav.nav-wrapper{
            line-height:45px;
        }
        .tabs .tab a:focus, .tabs .tab a:focus.active{
            background-color:white;
        }
        .tabs .indicator{
            background-color:red;
        }
        .box{
            background-color:grey;
            height: 150%;
            margin: 10px;
        }
        .btn{
            height:12%;
            text-transform: capitalize;
        }
        .lilspace{
            margin: 10px 0 10px 0;
        }
        .searchBar{
            margin: 0 0 0 40px;
            padding: 0 0 0 40px;
        }
        .darkgrey{
            background-color: #424242;
        }
        .boxes{
            width: 23%;
            margin:0 2% 0 2%;
            height: 200px;
            background-color: white;
            display: grid; 
            grid-template-rows: 9fr 2fr;
            justify-items: center;
        }
        .title{
            color:white;
            margin-top: -10px;
        }
        .gridbox{
            margin-top: 200px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        image{
            size:10%
        }
        .fullvh{
            width:100vw;
            height:100vh;
        }
        .img{
            border: 5px solid black;
            padding: 20px 10px 20px 10px;
            border-radius: 10%;
            background-color:white;
        }
        .bold{
            font-weight: 700;
        }
        .flex-around{
            display: flex;
            flex-direction:row;
            justify-content: space-around;
        }
        .redhover{
            background-color: white;
            color: black;
            transition: background-color 0.5s ease-out;
        }
        .white-border{
            border: 2px solid white;
        }
        .redhover:hover{
            background-color: red;
        }
        @media screen and (max-width: 1000px){
            :root{
                font-size: 13px;
            }
        }
    </style>
</head>
<body onload="updateClock(); updateDate(); setInterval(['updateClock()','updateDate()'], 1000)">
    <div class="row">
        <!-- Tabs -->
        <div class="col s3 black">
            <ul class="tabs">
                <li class="tab col s6 redhover">
                    <a href="#recommended" class="active black-text">Recommended</a>
                </li>
                <li class="tab col s6 redhover">
                    <a href="#recent" class="black-text">Recent</a>
                </li>
            </ul>
            <div id="recommended" class="col black s12">
                <ul>
                <li class="btn col s12 lilspace redhover white-border" onclick="back()" ><span class="left">Manis</span><span class="right">S</span><br><span class="left">Nutella</span><span class="right">Rp131.000,-</span></li>
                <li class="btn col s12 lilspace redhover white-border"><span class="left">Manis</span><span class="right">M</span><br><span class="left">Skippy Chunky</span><span class="right">Rp60.000,-</span></li>
                <li class="btn col s12 lilspace redhover white-border"><span class="left">Manis</span><span class="right">L</span><br><span class="left">Tobleron</span><span class="right">Rp. 154.000</span></li>
                <li class="btn col s12 lilspace redhover white-border"><span class="left">Klasik</span><span class="right">M</span><br><span class="left">Coklat Kacang Keju</span><span class="right">Rp. 180.000</span></li>
                <li class="btn col s12 lilspace redhover white-border"><span class="left">Asin</span><span class="right">T</span><br><span class="left">Martabat Saya</span><span class="right">Rp. 200.000</span></li>
                </ul>
            </div>
            <div id="recent" class="col black s12">
                <a class="btn col s12 lilspace redhover white-border" ><span class="left">Manis</span><span class="right">L</span><br><span class="left">Tobleron</span><span class="right">Rp. 154.000</span></a>
                <a class="btn col s12 lilspace redhover white-border" ><span class="left">Klasik</span><span class="right">M</span><br><span class="left">Coklat Kacang Keju</span><span class="right">Rp. 180.000</span></a>
                <a class="btn col s12 lilspace redhover white-border" ><span class="left">Asin</span><span class="right">T</span><br><span class="left">Martabat Saya</span><span class="right">Rp. 200.000</span></a>
            </div>
        </div>
        <!-- navbar -->
        <div class="col fullvh s9">
                <nav class="nav-wrapper red black-text nav-edit nopadding">
                    <div>
                        <ul class="white-text flex-around">
                            <li class="">Terjual: <%= terjual %></li>
                            <li><a id="clock" class="hide-on-med-and-down">&nbsp;</a></li>
                            <li class="hide-on-med-and-down"><a id="date" href="">&nbsp;</a></li>
                        </ul>
                    </div>
                </nav>
                    <div class="gridbox col s12 center white-text bold">
                        <div class="col s3">
                            <a onclick="rasa(0)"><img src="images/salt.png" alt="" class="img responsive-img"></a>        
                            <p>Asin</p>
                        </div>
                        <div class="col s3">
                            <a onclick="rasa(1)"><img src="images/sugar.png" alt="" class="img responsive-img"></a>     
                            <p>Manis</p>
                        </div>
                        <div class="col s3">
                            <a onclick="rasa(2)"><img src="images/smiling-emoticon-square-face.png" alt="" class="img responsive-img"></a>     
                            <p>Klasik</p>
                        </div>
                    </div>
        </div>
    </div>


   


    
<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
    $(document).ready(function(){
        $('.tabs').tabs();
    })
	
    function back() {
        console.log(window.location.href);
        window.location.href = "pageketiga";
    }

    function rasa(kodequery){
        console.log(window.location.href);
        var queries = "?type="+String(kodequery);
        window.location.href = "pageketiga"+queries; 
    }

    function myFunction() {
  var x = document.getElementById("myText").value;
  document.getElementById("demo").innerHTML = x;
}
</script>
</body>
</html>